:root {
  --white: #ffffff;
  --text-color: #393d46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--white);
  color: var(--text-color);
}

.main-container {
  max-width: calc(1410px + 30px);
  padding: 0 15px;
  margin: 0 auto;
}
